{% extends "users_app/users_app_base.html" %}

{% block title %} Сброс пароля {% endblock %}

{% block content %}
<div  class="card">
    <div  class="card-body">
        <h4  class="card-title">Для сброса пароля введите ваш адрес эдектронной почты</h4>
        <form  method="post">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            {{ form.as_p }}
            <button  type="submit"  class="btn btn-primary btn-block">Подтвердить</button>
        </form>
    </div>
</div>
</div>
{% endblock %}