{% extends 'base.html' %}

{% block title %} Панель модерации {% endblock %}

{% block content %}
<div class="container text-white border-info">
    <div class="">
        <div class="container text-center w-50">
            <div class="border-bottom mb-3">
                <h1 class="display-6">Панель модерации</h1>
            </div>
            <br>
            <div class="btn-group btn-group-vertical text-center">
                <a href="{% url 'moder_tests' %}" class="btn btn-outline-success btn-lg btn-block">Модерация тестов</a>
                <a href="{% url 'moder_categories' %}" class="btn btn-outline-success btn-lg btn-block">Категории тестов</a>
                <a href="{% url 'moder_tags' %}" class="btn btn-outline-success btn-lg btn-block">Теги тестов</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}