{% extends 'base.html' %}
{% load main_tags %}

{% block title %} Результаты теста | {{ test_title }} {% endblock %}

{% block content %}
<div class="container text-white">
    <div class="border-bottom border-info">
        <h1 class="display-6 text-center">Результаты теста | {{ test_title }}</h1>
    </div>
    <div class="border-bottom border-info">
        <h3 class="fs-3">Кол-во вопросов на которые вы ответили правильно: {{ rights_answers|length }}</h3>
        <h3 class="fs-3">Результат прохождения тестирования: {{ results.score }}/100 баллов {{ results.score|get_estimate|safe }}</h3>
    </div>
    <div class="container w-75 mt-3">
        {% for quest in questions %}
        <div class="row border-bottom">
            {% if quest.image %} <img src="{{ quest.image.url }}" alt="" class="mt-2" style="width:200px"> {% endif %}
            <h3 class="{% if quest not in rights_answers %} text-danger {% else %} text-success {% endif %}">
                Вопрос {{ forloop.counter }}. {{ quest.question }}
                {% if quest in rights_answers %}
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                {% endif %}
            </h3>
            {% for answer in quest.answers.all %}
            <div class="col-6 text-center mb-3 text-info">
                <h3 class="fs-4
                {% if answer.pk in user_answers and answer.is_right %}
                text-success
                {% elif answer.pk in user_answers and not answer.is_right %}
                text-danger
                {% endif %}"
                >
                    {{ forloop.counter0|digit_to_alpha }}) {{ answer.answer }}
                </h3>
            </div>
            {% endfor %}
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="{% url 'main' %}" class="btn btn-lg btn-outline-info">На главную страницу</a>
    </div>
</div>
{% endblock %}