{% extends 'base.html' %}
{% load main_tags %}

{% block title %} {{ test_title }} {% endblock %}

{% block content %}
<div class="container text-white">
    <div class="border-bottom border-info">
        <h1 class="display-6 text-center">{{ test_title }}</h1>
    </div>
    <div class="container w-75 mt-3">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <li class="text-danger" > {{ message }} </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for quest in questions %}
            <div class="row border-bottom">
                {% if quest.image %} <img src="{{ quest.image.url }}" alt="" class="mt-2" style="width:200px"> {% endif %}
                <h3>Вопрос {{ forloop.counter }}. {{ quest.question }}</h3>
                {% for answer in quest.answers.all %}
                {% if quest.answers_type == 'Variable' %}
                <div class="col-6 text-center mb-3 text-info">
                    <h3 class="fs-4">{{ forloop.counter0|digit_to_alpha }}) {{ answer.answer }} <input type="checkbox" name="{{answer.pk}}"></h3>
                </div>
                {% else %}
                <div class="w-75 text-center container mb-3">
                    <input type="text" name="{{answer.pk}}" class="form-control" placeholder="Введите развёрнутый ответ...">
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <br>
            {% endfor %}
            <div class="container text-center">
                <input type="submit" class="btn btn-outline-success btn-lg mt-4" value="Завершить тестирование">
            </div>
        </form>
    </div>
</div>
{% endblock %}